
@model ProductCategoryCRUD.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="col-md-5">
            <label>Name</label><br />
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-5">
            <label>Password</label><br />
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div style="margin-top: 5px">
            <div>
                <input type="submit" value="LogIn" class="btn btn-default" /> |
                <a href="/Home/Index"><input type="button" value="cancel" class="btn btn-default" /></a>
            </div>
        </div>
    </div>
}