﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-kW2H6mf/72/MKlmwB//Zcwg0ckiegojPx/fio14/rpoYw2LMhULTn5YhS1QyrQfx" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <title>@ViewBag.Title - Shop</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Product/Index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/Index">Category</a>
                </li>
            </ul>
            @Html.Partial("_PartialLogin")

        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Funtikoff's Shop</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")*@

    @RenderSection("scripts", required: false)

    <script>
        function refresh() {
            $(".dropdown-menu").removeClass("show");
        };

        $(function () {
            $.ajaxSetup({ cache: false });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                //let firstDiv = $("<div>")
                //    .addClass("modal")
                //    .attr("id", "modal_dialog");
                //let secDiv = $("<div>")
                //    .addClass("modal-dialog")
                //    .attr("role", "document").appendTo(firstDiv);
                //let thDiv = $("<div>")
                //    .addClass("modal-header").appendTo(secDiv);
                //$("<h5>").addClass("modal-title").text("testTitle").appendTo(thDiv);
                //$("<button>")
                //    .attr("type", "button")
                //    .addClass("close")
                //    .attr("data-dismiss", "modal")
                //    .attr("aria-label", "close")
                //    .append("<span aria-hidden=\"true\">&times;</span>")
                //    .appendTo(thDiv);

                //firstDiv.appendTo("body").dialog().load(this.href);
                //$("#modal_dialog").dialog("open");
                //    .dialog({
                //    //title: $(this).attr("data-dialog-title"),
                //    //close: function () { $(this).remove() },
                //    modal: true
                //})
                //    .load(this.href);

                //$("<div>")
                //    .appendTo("body")
                //    .dialog({
                //        title: $(this).attr("data-dialog-title"),
                //        close: function () { $(this).remove() },
                //        modal: true,
                //        width: 500,
                //        hide: {
                //            effect: "explode",
                //            duration: 1000
                //        }

                //    })
                //    .load(this.href);


                $("<div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true,
                        width: 500,
                        hide: {
                            effect: "explode",
                            duration: 1000
                        }
                        
                    })
                    .load(this.href);
            })
        });
    </script>

    @*<div class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@





</body>
</html> 